## ANE build config

project.name = Branch
project.packagename = io.branch.nativeExtensions.branch

DEBUG_MODE=false

output.name = io.branch.nativeExtensions.Branch.ane
output.dir = ./build
output.docs = ./docs/asdocs
output.packageasdocs = false

ios.dir = ./platform/ios

android.dir = ./platform/android
android.externals = library-3.2.0
android.package = io.branch.nativeExtensions.branch

actionscript.dir = ./platform/actionscript

default.dir = ./platform/default


